/*-- Social Icons Base --*/

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: $base-spacing-unit-medium 0 $base-spacing-unit-small 0;
  @include media($medium) {
    padding-top: $base-spacing-unit-tiny;
  }
  > li {
    width: 80px;
    height: 80px;
    margin: 0 $base-spacing-unit-tiny;
    font-size: 0;
    > a {
      outline: none;
      text-decoration: none;
      cursor: pointer;
      }
   }
}

/*-- Shared Properties --*/

%social-animation {
  &::before,
  &::after {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: "";
    transition: all 1s;
    transform-origin: center;
  }
  &::before {
    z-index: 2;
    background-color: $purple-4;
    border-radius: 40px;
    border: solid 3px $purple-1;
    box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
  }
  &::after {
    z-index: 1;
    opacity: 0;
    margin-top: -80px;
    border: solid 3px $white;
    border-radius: 40px;
    box-shadow: none;
  }
  &:hover::before {
    opacity: 0;
    transform: rotate(-720deg);
    transform-origin: center;
  }
  &:hover::after {
    opacity: 1;
    transform: rotate(0);
    transform-origin: center;
  }
}

/*-- Icon Specific --*/

.github {
  @extend %social-animation;
  &::before,
  &::after {
    background-image: url("../images/github.png");
    background-image: url("../images/github.svg");
  }
  &::after {
    background-color: $github;
  }
}

.twitter {
  @extend %social-animation;
  &::before,
  &::after {
    background-image: url("../images/twitter.png");
    background-image: url("../images/twitter.svg");
  }
  &::after {
    background-color: $twitter;
  }
}

.linkedin {
  @extend %social-animation;
  &::before,
  &::after {
    background-image: url("../images/linkedin.png");
    background-image: url("../images/linkedin.svg");
  }
  &::after {
    background-color: $linkedin;
  }
}
