.userform {
  padding: $base-spacing-unit-small $base-spacing-unit-small;
  margin-top: $base-spacing-unit;
  margin-bottom: $base-spacing-unit-medium;
  background-color: $grey-5;
  border-radius: $base-spacing-unit;
  border: solid 2px $grey-3;
  box-shadow: 0 $base-spacing-unit-tiny $base-spacing-unit-medium -$base-spacing-unit
    rgba(0, 0, 0, 0.95);
  color: $grey-1;
  font-weight: 500;
  @include media($medium) {
    margin-top: 0;
    padding: $base-spacing-unit-medium $base-spacing-unit-medium;
  }

  h2 {
    margin: 0 0 $base-spacing-unit-tiny 0;
    line-height: 1.5;
    font-size: $base-font-size;
  }

  img {
    background-color: $white;
    padding: $base-spacing-unit;
    border: 1px solid $grey-4;
  }
}

.userform--track {
  legend {
    width: 100%;
    margin-bottom: 0;
    padding: $base-spacing-unit-small 0 $base-spacing-unit-small $base-spacing-unit-tiny;
    border-top: 1px solid $grey-4;
    @include fontsize(22);
  }

  legend::before {
    margin-right: $base-spacing-unit;
  }

  legend.closed::before {
    content: "\025B8";
  }

  legend.open::before {
    content: "\025BE";
  }

  legend.open ~ div {
    padding: $base-spacing-unit-small 0 $base-spacing-unit-medium $base-spacing-unit-tiny;
  }
  
  legend:hover, legend:active {
    cursor: pointer;
    background-color: $purple-4;
  }
}

.userform--actions {
  @include media($medium) {
    display: flex;
    :last-child {
      margin-left: auto;
    }
  }
}
